<div class="row">
    {{#each this}}
    {{#if scene}}
    <div class="col col-3 card text-center" style="margin: 0.5%">
        <div class="card-body">
            <p class="card-text"><i>{{scene}}_{{zone}}#{{id}}</i></p>
        </div>
        <div class="card-footer text-muted">
            {{maxSize}}
            <br />
            {{type}}
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>