<div class="row">
    {{#each this}}
    {{#if playfabId}}
    <div class="col col-3 card text-center" style="margin: 0.5%">
        <div class="card-body">
            <h5 class="card-title">{{displayName}}</h5>
            <p class="card-text"><i>{{roomScene}}_{{roomZone}}#{{roomId}}</i></p>
            <p class="card-text">{{isOnline}}</p>
        </div>
        <div class="card-footer text-muted">
            Created {{createdAt}}
            <br />
            Updated {{updatedAt}}
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>